.main{
    height: 80%;
    width: 100%;
    font-family: monospace;
    /*border: 1px solid black;*/
}
.header{
   display: flex;
   padding: 10px 0px 10px 10px;
   background-color: #2863a1;
}
.leftcell{
    /*flex-direction: column;*/
    display : flex;
    width:40%;
    /*text-align: end;*/
    align-items: center;
    font-size: 1.4em;
    color: #ffffff;
    font-family: monospace;
}
.middlecell{
    flex-direction: column;
    width:50%;
    text-align: end;
}
.rightcell{
    flex-direction: column;
    width:10%;
    text-align: end;
    /*border: 1px solid green;*/
}

.contentarea{
    /*border: 1px solid red;*/
    /*height: 85%;*/
}
.footer{
    background: #2863a1;
    height: 10%;
    margin-bottom: 35px;
}

.idsection{
    margin-right:25px;
}
@media screen and (max-width: 600px) {
    .middlecell {
        text-align: start;
    }
  }