$box_width_ld:5;
$box_width_md:4;
$box_width_sd:5;


$box_height_ld:8;
$box_height_md:4;
$box_height_sd:5;


$piece_img_width_ld:4;
$piece_img_width_md:3;
$piece_img_width_sd:4;


$piece_img_height_ld:4;
$piece_img_height_md:3;
$piece_img_height_sd:4;

$piece_label_top_ld:4;
$piece_label_top_md:4;
$piece_label_top_ld:4;

$piece_label_left_ld:-5.8;
$piece_label_left_md:-3;
$piece_label_left_sd:-3;